{% extends "brc/base.html" %}
{% load comments_tag %}

{% block head_title %} {{ year.year }} - {{ art_installation.name }} {% endblock %}
{% block body %}
<a href='/brc/{{art_installation.year.year }}'>{{ art_installation.year.year }}</a><br />
<a href='/brc/{{ art_installation.year.year }}/art_installations/'>Back to {{ art_installation.year.year }} Art Installations</a><br />
<h1>{{ art_installation.name }}</h1>
{% if art_installation.image %} <img src='/media/{{ art_installation.image }}'><br />{% endif %}
{% if art_installation.artist %}<h3>by {{ art_installation.artist }}</h3>{% endif %}
{% if art_installation.url %}<b>URL:</b> <a href='{{ art_installation.url }}' target='_blank'>{{ art_installation.url }}</a> <br />{% endif %}
{% if art_installation.contact_email %}<b>Contact Email:</b> {{ art_installation.contact_email }} <br /><br />{% endif %}
{% if art_installation.description %}{{ art_installation.description }} <br /><br />{% endif %}
{% if events %}
<br/><b>Events At this Art Installation:</b><br/>
{% for event in events %}
<ul>
<li><a href="{% url playa_event_view year.year event.id %}">{{ event.title }}</a></li>
</ul>
{% endfor %}
{% endif %}
<h3>Comments on This Art Installation:</h3>
{% comments art_installation %}
{% endblock %}
