{% extends "brc/base.html" %}
{% block head_title %} {{ year.year }} - Art Cars{% endblock %}
{% block body %}
{% ifnotequal previous 2005 %}
<a href='/brc/{{ previous }}/art_cars/'><< {{ previous }}</a>
{% endifnotequal %}
<font size=+3><b>{{ year.year }}</b></font>
{% ifnotequal next 2010 %}
<a href='/brc/{{ next }}/art_cars/'> {{ next }}>></a>
{% endifnotequal %}
<h2>Art Cars</h2>
<ul>
{% for art_car in art_cars %}
<li><a href='/brc/{{ year.year }}/art_car/{{art_car.id }}/'>{{ art_car.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}

