{% extends "brc/base.html" %}
{% load comments_tag %}
{% load i18n %}
{% block head_title %} {{ year.year }} Event - {{ playa_event.title }} {% endblock %}
{% block body %}
<h4><a href='/brc/{{ playa_event.year.year }}/playa_events/'>&larr;&nbsp;Back to {{ playa_event.year.year }} Playa Events</a></h4>

{% if not playa_event.list_online %}
	{% ifnotequal user playa_event.creator %}
		<h2>Event not available</h2>
	{% else %}
		{% include 'brc/playa_event_display.html' %}	
	{% endifnotequal %}
{% else %}
  {% ifnotequal playa_event.moderation 'A' %}
	{% ifnotequal user playa_event.creator %}
		  <h2>Event not available</h2>
	{% else %}
    		{% include 'brc/playa_event_display.html' %}
	{% endifnotequal %}
  {% else %}
    {% include 'brc/playa_event_display.html' %}
	{% endifnotequal %}
{% endif %}

{% endblock %}
