{% extends "brc/base.html" %}
{% load comments_tag %}
{% load checkins_tags %}

{% block head_title %} {{ year.year }} - {{ theme_camp.name }} {% endblock %}
{% block extra_head_base %}
{{ map.media }}
{% endblock %}
{% block body %}
<a href='/brc/{{ theme_camp.year.year }}'>{{ theme_camp.year.year }}</a><br />
<a href='/brc/{{ theme_camp.year.year }}/themecamps/'>Back to {{ theme_camp.year.year }} Theme Camps</a><br />
<br/>
<h1>{{ theme_camp.name }}</h1>
{% if theme_camp.image %} <img src='/media/{{ theme_camp.image }}'><br />{% endif %}
{% comment %}
{% if theme_camp.location_string %} <b>Location: </b><a href=''>{{ theme_camp.location_string }}</a><br/>{% endif %}
{% endcomment %}
{% if theme_camp.url %} <b>URL: </b><a href='{{ theme_camp.url }}' target="_top">{{ theme_camp.url }}</a><br/>{% endif %}
{% if theme_camp.contact_email %}<b>Contact Email: </b><a href='mailto:{{ theme_camp.contact_email }}'>{{ theme_camp.contact_email }}</a><br />{% endif %}
{% if theme_camp.hometown %}<b>Hometown: </b>{{ theme_camp.hometown }}<br/>{% endif %}

{% if request.user.is_authenticated %}
{% add_checkin_for_instance theme_camp request.user %}
{% endif %}

<br/>
{% if theme_camp.description %}{{ theme_camp.description }} <br />{% endif %}
{% comment %}
{{ map }}
{% endcomment %}

<h3>Photos</h3>
<!-- Start of Flickr Badge -->
<style type="text/css">
#flickr_badge_source_txt {padding:0; font: 11px Arial, Helvetica, Sans serif; color:#666666;}
#flickr_badge_icon {display:block !important; margin:0 !important; border: 1px solid rgb(0, 0, 0) !important;}
#flickr_icon_td {padding:0 5px 0 0 !important;}
.flickr_badge_image {text-align:center !important;}
.flickr_badge_image img {border: 1px solid black !important;}
#flickr_www {display:block; text-align:left; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
#flickr_badge_wrapper {background-color:#ffffff;border: solid 1px #000000}
#flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}
</style>
<table id="flickr_badge_uber_wrapper" cellpadding="0" cellspacing="10" border="0"><table cellpadding="0" cellspacing="10" border="0" id="flickr_badge_wrapper">
<tr>
<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?show_name=1&count=10&display=latest&size=s&layout=h&source=all_tag&tag=burningman%3Acamp%3D{{ theme_camp.id }}&user=15662856%40N00"></script>
<td id="flickr_badge_source" valign="center" align="center">
<table cellpadding="0" cellspacing="0" border="0"><tr>
</tr></table>
</td></tr></table>
<tr>
<td id="flickr_badge_source_txt"><small>To add photos, tag your photo with <b>burningman:camp={{ theme_camp.id }}</b> on <a href="http://www.flickr.com/photos/tags/burningman:camp={{ theme_camp.id }}/">on Flickr</a>. <a href="http://code.flickr.com/blog/2009/07/06/extraextraextra/">more on machine tags</a></small></td>
</td></tr></table>
<!-- End of Flickr Badge -->

{% if events %}
<h3>Events At this Camp:</h3>
{% for event in events %}
<ul>
<li><a href="{% url playa_event_view year.year event.id %}">{{ event.title }}</a></li>
</ul>
{% endfor %}
{% endif %}
<h3>Comments on This Camp:</h3>
{% comments theme_camp %}
{% endblock %}

