{% extends "brc/base.html" %}
{% block head_title %} {{ year.year }} - {{ theme_camp.name }} {% endblock %}
{% block body %}
<a href='/brc/{{ theme_camp.year.year }}'>{{ theme_camp.year.year }}</a><br />
<a href='/brc/{{ theme_camp.year.year }}/themecamps/'>Back to {{ theme_camp.year.year }} Theme Camps</a><br />
<h1>{{ theme_camp.name }}</h1>
<a href='{{ theme_camp.url }}' target="_top">{{ theme_camp.url }}</a><br/>
<a href='mailto:{{ theme_camp.contact_email }}'>{{ theme_camp.contact_email }}</a><br/><br />
{{ theme_camp.description }} <br /><br />
{{ theme_camp.home_town }}<br/>
<!--
<a href='/brc/{{ year.year }}/{{ theme_camp.time_address|time:"h:i" }}/{{theme_camp.circular_street.name|lower|slugify }}/'>{{ theme_camp.time_address|time:"h:i" }} & {{ theme_camp.circular_street.name }}</a><br/>
-->
{% endblock %}

