{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<img src="http://bmanearth.burningman.com/sections/bmanearth/bmanearth_section.jpg" alt="bmanearth sectional graphic" />
<p class="header"><h3>Welcome to Burning Man Earth</h3></p><p class="subhead">Mapping the Cultural Genome</span></p>
 <p>Would you like to fly over Black Rock City, zoom to your favorite theme camp, zip out to deep-playa art installations, and connect with your fellow participants, year round?  Welcome to Burning Man Earth: a 3D virtual representation of Black Rock City.  It's available year round, so you can learn what was done, how, and connect with who made it happen.  Burning Man Earth is a mapping of the Burning Man cultural genome.</p>

 <p>Burning Man participants are encouraged to populate this virtual city just as we do the real-world BRC.  Just send us a "placemark" (which might contain your location, photograph, information, etc.), and/or an image of your camp or art installation, and we'll include it in Burning Man Earth.  Learn more below.</p>

 <p><strong>Note:</strong> The following files are simply the beginning. Additional files, extending the scope, will be made available on this site, and automatically through the Network Link.</p>
<p><strong>Get Started: Follow These Easy Steps</strong>
 <ol>
 <li>Download and install the <a href="http://earth.google.com/download-earth.html" target="_blank">latest version of Google Earth</a>.</li>
 <li>Download and open the <a href="http://bmanearth.burningman.com/data/2008/brc08_NetworkLink.kml">2008 BRC data file</a> This network link file fill will automatically get you the latest data as we update it.</li>
 <li>Finally, add images of your theme camp or art installation (see below). </li>
 </ol>
 </p>
 <strong>Additonal Data Sets</strong>
 <ul>
 <li><a href="http://bmanearth.burningman.com/data/2007/brc07_NetworkLink.kmz">Black Rock City, 2007 Data</a></li>
 <li><a href="http://bmanearth.burningman.com/data/2006/brc06_NetworkLink.kmz">Black Rock City, 2006 Data</a></li>
<li><a href="http://bmanearth.burningman.com/data/2006/add_ons/brc06_events.kmz">Geomapped &quot;What, Where, When&quot; Events for 2006</a></li>
 <li><a href="http://bmanearth.burningman.com/data/2006/add_ons/brc06_brcPO.kmz">Black Rock City Post Office</a></li>
<li><a href="http://bmanearth.burningman.com/data/2006/add_ons/brc06_conexus.kmz">Conexus Cathedral</a></li>

<li><a href="http://bmanearth.burningman.com/data/2006/add_ons/camp_modules.kmz">Camp Modules</a> that you can use to build your virtual camp</li>
</ul>


<p><strong>Send Us Your Theme Camp or Art Installation Placemark!</strong>
<ol><li>Find your camp or art installation location in Burning Man Earth.</li>
<li>Click "Add Placemark".</li>
<li>Provide your theme camp or installation name, and any details you'd like.</li>
<li>Then, right-click on your new placemark in the "Places" window, and send it to <a href="http://bmanearth.burningman.com/scripts/composit/mailform.php?&n=bmanearth&f=bmanearth (at) burningman (dot) com" onClick="composIt('bmanearth'); return false;" target="_self">bmanearth (at) burningman (dot) com</a>.</li>

<li>Optionally (and ideally), attach to the email a photograph or a 3D image of your camp <a href="http://sketchup.google.com/" target="_blank">using SketchUp</a>. Please keep the file size (number of polygons) to a minimum!
<li>You can also download <a href="http://bmanearth.burningman.com/data/2006/add_ons/camp_modules.kmz">3D models of common camp elements</a> so you can build your virtual camp and send that to us.</li>
</ol></p>
<p><strong>More Information and Resources</strong><br />
<p>System Requirements: this version of Burning Man Earth requires a lot of system memory and a high end video processor.  You can tune the performance of Google Earth ... <a href="http://earth.google.com/userguide/v4/ug_3dviewer.html#viewprefs" target="_blank">learn how</a>.  We are also working on a version that will perform better on lower-end computers ... stay tuned for that.
<ul><li><a href="http://earth.google.com" target="_blank">Google Earth Homepage</a></li>

<li><a href="http://earth.google.com/earth.html" target="_blank">About Google Earth</a></li>
<li><a href="http://sketchup.google.com/" target="_blank">Creating 3D Images with SketchUp</a></li>
</ul></p>

<p>Please send questions, comments or suggestions to <a href="http://bmanearth.burningman.com/scripts/composit/mailform.php?&n=bmanearth&f=bmanearth (at) burningman (dot) com" onClick="composIt('bmanearth'); return false;" target="_self">bmanearth (at) burningman (dot) com</a>.</p>

<p>
<!--<p><strong>Creating 2D Images:</strong><ul>
<li><a href="http://www.flickr.com" target="_blank">Upload your photos to Flickr</a></li>
<li><a href="http://www.makezine.com/blog/archive/2005/07/how_to_gps_tag.html" target="_blank">Geotag your Flickr photos</a></li>
<li><a href="http://oregonstate.edu/~earlyj/gpsphotolinker/" target="_blank">Learn how to geotag your photos</a></li>
</ul></p>-->
</p>
<p><strong>Burning Man Earth Screen Shots (2006 Data Set)</strong></p>

<p><strong><img src="http://bmanearth.burningman.com/photos/BME3.jpg" alt="bmanearth" width="500" height="408" /></strong></p>
<p><img src="http://bmanearth.burningman.com/photos/BME4.jpg" alt="bmanearth" width="500" height="408" /></p>
<p><img src="http://bmanearth.burningman.com/photos/BME6.jpg" alt="bmanearth" width="500" height="408" /></p>
<p><img src="http://bmanearth.burningman.com/photos/BME7.jpg" alt="the man" width="500" height="408" /></p><br />
<p>Thank you for participating in Burning Man Earth ... the playa, year round!  <img src="http://bmanearth.burningman.com/sections/black/black_paragraph_end.gif" alt="End of page" /></p>
</div>

{% endblock %}
