{% extends 'site_base.html' %}

{% load i18n %}

{% block rtab_id %}id="checkins_tab"{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
      {% if not BME_PRODUCTION %}
        <ul>
            <li><a href="{% url checkins_for_user request.user %} ">{% trans "Your Checkins" %}</a></li>
            <li><a href="{% url checkins_friends request.user %} ">{% trans "Friends Checkins" %}</a></li>
        </ul>
      {% else %}
        <ul>
        </ul>
      {% endif %}
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

