{% extends 'site_base.html' %}
{% block head_title %} Search {% endblock %}
{% block body %}
    <h2>Search</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_p }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if page.object_list %}
            {% for result in page.object_list %}
                <p>
                  {% if result.object.name %}
                    <b><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></b><br/>
                  {% endif %}
                  {% if result.object.title %}
                    <b><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></b><br/>
                  {% endif %}
		{% if result.object.description %}
			{{ result.object.description }}
		{% endif %}
                </p>
            {% endfor %}
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </form>
{% endblock %}
