{% extends 'site_base.html' %}
{% block logo_link_image %}<a href="{% url home %}"><img src="/media/img/bman-earth-search.gif" alt="Burning Man Earth"/></a>{% endblock %}
{% block head_title %} Search {% endblock %}
{% block body %}
    <h2>Search</h2>
    <form method="get" action=".">
        <table>
             {% for field in form %}
	     	{% ifequal field.label "Q" %}
	      	<p><label for="id_q">What are you looking for? Enter your search terms here:</label><br/>{{ field }}</p>
	      {% endifequal %}
		<div style="visible: false">
	     	{% ifequal field.label "Models" %}
	      	<p><label for="id_models_0">Select where you would like to search:</label> 
		{{ field }}
	      	{% endifequal %}
		</div>
	      {% endfor %}
	    <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if page.object_list %}
            {% for result in page.object_list %}
                <p>
                  {% ifequal result.model_name "playaevent"  %}
                    <img src="/media/img/events.png" align="left" style="padding: 5px; border: 0px solid #000000;"> <b><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></b><br/>
                  {% endifequal %}
                  {% ifequal result.model_name "themecamp" %}
                    <img src="/media/img/camps.png" align="left" style="padding: 5px; border: 0px solid #000000;"> <b><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></b><br/>
                  {% endifequal %}
                  {% ifequal result.model_name "artinstallation" %}
                    <img src="/media/img/art.png" align="left" style="padding: 5px; border:0px solid #000000;"> <b><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></b><br/>
                  {% endifequal %}
                  {% ifequal result.model_name "profile" %}
                    <img src="/media/img/man-icon.png" align="left" style="padding: 5px; border:0px solid #000000;"> <b><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></b><br/>
                  <b><a href = "{{ result.object.get_absolute_url }}">{{ result.object.user }} {% if result.object.name %}({{ result.object.name }})</a></b><br/>{{result.object.location}}<br/>{{result.object.about}}{% endif %}<br/>
                  {% endifequal %}
		{% if result.object.description %}
			{{ result.object.description }}
		{% endif %}
                </p>
		<br/>
            {% endfor %}
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </form>
{% endblock %}
