{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<h2>Welcome to the Playa Events Calendar</h2>
<p>To submit an event, please <a href="{% url acct_login %}">login</a> or <a href="{% url acct_signup %}">sign up</a> for an account.</p>
<p>You do not need to have an account if you want to <a href="{% url playa_events_by_day 2009 1 %}">browse events</a> that are being planned by Black Rock City citizens for 2009.</p>
<p>All events will be moderated before posting them online or including them in the print edition of the What Where When. It may take 24-48 hours for your event to be moderated, so please don't panic if you don't see it in the calendar immediately.</p>
<p>The deadline for having events included in the print editions is midnight on July 31st, 2009. You will be able to register events in this calendar until Burning Man begins on August 31st, 2009. On playa, you can register events at Playa Info.  </p>
<p>You can now register a single event that will occur at different times of day or night with just one entry. If you've been meaning to host a pancake breakfast at midnight, 10 am and 4 pm, on three different days during Burning Man, well, bust out that maple syrup!</p>
<p>See you on playa!</p>

</div>

{% endblock %}
