{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<h2>Welcome to the Playa Events Calendar</h2>
<p>To get started, please <a href="{% url acct_login %}">login</a> or <a href="{% url acct_signup %}">sign up</a> for an account.</p>
<p><a href="{% url playa_events_by_day 2009 1 %}">Browse the daily events</a> to see what your fellow Black Rock City citizens are planning for 2009.</p>
<p>All events will be moderated before posting them online or including them in the print edition of the What Where When.</p>
<p>The deadline for having events included in the print editions is midnight on July 31st, 2009. You will be able to register events online right up until Burning Man opens. You can also register events on playa at Playa Info.</p>
<p>You can now register a single event that will occur at different times of day or night with just one entry. If you've been meaning to host a pancake breakfast at midnight, 10 am and 4 pm, on three different days during Burning Man, well, bust out that maple syrup!</p>
<p>See you on playa!</p>

</div>

{% endblock %}
