{% extends "profiles/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load humanize %}
{% load uni_form %}

{% block head_title %}{% blocktrans %}All Profiles{% endblocktrans %}{% endblock %}

{% block body %}
<div style="float:right;">
    <form class="uniForm" id="search" method="POST" enctype="multipart/form-data" 
            action="{% url profile_list %}">
        <fieldset class="inlineLabels">
            {{search_form|as_uni_form}}
           <div class="form_block">
                <input style="display:inline;" type="submit" value="Search" />
            </div>
        </fieldset>
    </form>
</div>

    <h1>{% trans "Profiles" %}</h1>
    
    {% autopaginate users %}
    
    {% regroup users by date_joined.date as users_by_date_joined %}
    
    {% for date in users_by_date_joined %}
        <h2 class="join_date">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h2>
        
        {% for user in date.list %}
            <div class="profile clearfix">
                {# @@@ factor out style into css file #}
                <div style="float: left;">{% avatar user 40 %}</div>
                <div style="padding: 5px; margin-left: 50px;"><a href="{% url profile_detail user.username %}">{{ user }}</a></div>
            </div>
        {% endfor %}
    {% endfor %}
    
    {% paginate %}
{% endblock %}
