{{map.media}}

<script>

$(function() {
    {% if point %}
    var lat={{point.point.tuple.0}};
    var lon={{point.point.tuple.1}};
    var zoom={{point.zoom}};

    var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.map.getProjectionObject());

    map.map.setCenter (lonLat, zoom);
    var playaLayer = new OpenLayers.Layer.OSM("2009 Map", "/osm_tiles2/${z}/${x}/${y}.png", {numZoomLevels: 19});
    map.map.addLayer(playaLayer);
    map.map.layers[0].destroy();
    map.map.removeControl(map.map.controls[3]);
    map.map.removeControl(map.map.controls[5]);

    {% else %}
    var lat=40.76919;
    var lon=-119.22030;
    var zoom=13;

    var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.map.getProjectionObject());

    map.map.setCenter (lonLat, zoom);
    var playaLayer = new OpenLayers.Layer.OSM("2009 Map", "/osm_tiles2/${z}/${x}/${y}.png", {numZoomLevels: 19});
    map.map.addLayer(playaLayer);
    map.map.layers[0].destroy();
    map.map.removeControl(map.map.controls[3]);
    map.map.removeControl(map.map.controls[5]);


    {% endif %}

});
</script>

